body {
  background-image: url("../../pictures/appbackground.png");
}

.nav {
  background-image: url("../../pictures/headerBackground.png");
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  color: black;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav button {
  background-color: rgb(53, 197, 233);
  color: white;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav button:hover {
  background-color: rgb(68, 172, 179);
  color: rgb(51, 72, 115);
}

.companyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.companyCard {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.companyCard:hover {
  background-color: rgb(92, 127, 129);
}

.companyCard h3 {
  text-align: center;
}

.companyCard p {
  text-align: center;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.contactCard {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.contactCard:hover {
  background-color: rgb(92, 127, 129);
}

.contactCard h3 {
  text-align: center;
}

.contactCard a {
  text-align: center;
}

.contactCard p {
  text-align: center;
}

.openPositionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.openPositionCard {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.openPositionCard:hover {
  background-color: rgb(92, 127, 129);
}

.openPositionCard h3 {
  text-align: center;
}

.openPositionCard h4 {
  text-align: center;
}

.openPositionCard p {
  text-align: center;
}

.company {
  text-align: center;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.newform {
  width: fit-content;
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newform label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.newform input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.newform button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}