body {
  background-image: url("../../pictures/appbackground.png");
}

.nav {
  background-image: url("../../pictures/headerBackground.png");
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  color: black;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav button {
  background-color: rgb(53, 197, 233);
  color: white;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav button:hover {
  background-color: rgb(68, 172, 179);
  color: rgb(51, 72, 115);
}

.companyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.companyCard {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.companyCard:hover {
  background-color: rgb(92, 127, 129);
}

.companyCard h3 {
  text-align: center;
}

.companyCard p {
  text-align: center;
}

.companyCard button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.contactCard {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.contactCard:hover {
  background-color: rgb(92, 127, 129);
}

.contactCard h3 {
  text-align: center;
}

.contactCard a {
  text-align: center;
}

.contactCard p {
  text-align: center;
}

.contactCard button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.openPositionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.openPositionCard {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.openPositionCard:hover {
  background-color: rgb(92, 127, 129);
}

.openPositionCard h3 {
  text-align: center;
}

.openPositionCard h4 {
  text-align: center;
}

.openPositionCard p {
  text-align: center;
}

.openPositionCard button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.company {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.company h3 {
  text-align: center;
}

.company p {
  text-align: center;
}

.company button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.positions {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
  padding-left: 10px;
}

.formButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.formButton button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.newform {
  width: fit-content;
  padding: 20px;
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newform label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.newform input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.newform button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.positionFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.positionForm {
  width: 400px;
  padding: 20px;
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.positionForm label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.positionForm select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.positionForm input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.positionForm button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contactFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.contactForm {
  width: 400px;
  padding: 20px;
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactForm label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.contactForm input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.contactForm button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.companyUpdateForm label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.companyUpdateForm input,
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.openPosition {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.openPosition h3 {
  text-align: center;
}

.openPosition p {
  text-align: center;
}

.openPosition button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.contact {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.contact h3 {
  text-align: center;
}

.contact p {
  text-align: center;
}

.contact button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.contact label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.contact input,
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.status {
  background-color: rgb(179, 200, 205);
  border: 1px solid #757575;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.status h3 {
  text-align: center;
}

.status p {
  text-align: center;
}

.status button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.status label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.status input,
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.page button {
  background-color: #419fbc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.openPosition label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.openPosition input,
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.openPosition select,
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}