.nav {
  background-color: rgb(47, 116, 255);
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav button {
  background-color: rgb(53, 197, 233);
  color: white;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav button:hover {
  background-color: rgb(68, 172, 179);
  color: rgb(51, 72, 115);
}

.companyCard {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}

.companyCard li {
  text-align: center;
}